/* Flags Style */
body > header > div > a:nth-child(1) > img {
    width: 35px;
}

body > header > div > a:nth-child(2) > img {
    height: 25px;
}

.language_buttons {
    padding-left: 2%;
    font-size: 1em;
    float: inherit;
}

/*Tabs content background color*/
md-content.md-default-theme, md-content {
    background-color: rgb(255, 255, 255) !important;
}

/*Personal info card*/
md-card {
    margin: 0px;
}

.glyphicon {
    color: #4054B2;
}

.fa {
    color: #4054B2;
}

.img-thumbnail {
    float: right;
}

/*Tabs*/
md-tabs {
    height: 1100px;
}

.md-ripple-container {
    /* This background must be absolutely transparent */
    background-color: rgba(0, 0, 0, 0) !important;
}

.md-ripple-container > .md-ripple.md-ripple-placed.md-ripple-scaled.md-ripple-active {
    border-color: rgb(208, 214, 248) !important;
    background: rgb(208, 214, 248) !important;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: rgb(255, 53, 53);
    background: rgb(255, 53, 53);
}

/* Tabs background when clicked */
md-tabs.md-default-theme .md-tab .md-ripple-container, md-tabs .md-tab .md-ripple-container {
    color: rgb(208, 214, 248) !important;
}

/*Others*/
.md-list-item-text {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

ul {
    list-style-type: square;
}

md-divider {
    color: rgba(255, 53, 53, 0.44);
}

md-divider.md-default-theme, md-divider {
    border-top-color: rgba(255, 53, 53, 0.44) !important;
}

a.md-default-theme:not(.md-button), a:not(.md-button) {
    color: rgb(64, 84, 178);
}

.detail-button {
    line-height: 28px;
    min-width: 80px;
    min-height: 0px;
}

md-list-item {
    padding: 0px 0 !important;
}

.skills-column-item-divider {
    padding-bottom: 5px;
    border-top-width: 1px !important;
}

dl > dd:nth-child(2), #tab-content-4 > div > dl > dd:nth-child(4) > p {
    padding-left: 15px;
}

dd div {
    padding-left: 0px;
}

#lastUpdate {
    color: grey;
}

/*Panel styles*/

.md-panel-outer-wrapper {
    height: 140%;
}

@media only screen and (max-width: 662px) {
    .md-panel-outer-wrapper {
        height: 146%;
    }
}

.panel-close-container {
    width: 100%;
    background-color: #3f51b5;
    text-align: center;
}

.close-panel-button {
    background-color: white;
    color: rgb(255, 53, 53);
}

.close-panel-button:not([disabled]):hover, .close-panel-button:not([disabled]):hover {
    background-color: rgba(255, 255, 255, 0.62);
}

/*Animations for ng-view
Taken from: http://pucksart.com/angularjs-animations-ng-view/
and: http://dfsq.github.io/ngView-animation-effects/app/#/page/1
*/


/* Slide */

.slide {
    position: absolute;
    left: 0;
    width: 100%;
    /*height: 100%;*/
}

.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.slide.ng-enter {
    left: 100%;
    /*at the start time is out of the screen*/
}

.slide.ng-enter-active {
    left: 0;
    /* at the final time is in the normal positon*/
}

.slide.ng-leave {
    left: 0;
    /* at the start time is in the normal position*/
}

.slide.ng-leave-active {
    left: -100%;
    /* at the final time is out of the screen*/
}


/* Fade */

.fade {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}

.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.fade.ng-enter {
    opacity: 0;
}

.fade.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    opacity: 1;
}

.fade.ng-leave-active {
    opacity: 0;
}

/* Flag bg color */

.chosen-language {
    -moz-box-shadow: 0 0 11px 2px #50bcff;
    -webkit-box-shadow: 0 0 11px 2px #50bcff;
    box-shadow: 0 0 11px 2px #50bcff;
}