* {
    /*font-family: 'Montserrat', sans-serif;*/ 
    /*font-family: 'Muli', sans-serif;*/ 
    /*font-family: 'Josefin Sans', sans-serif;*/ 
    font-family: 'Inder', sans-serif;
    /*font-family: 'Sniglet', cursive;*/ 
}

img{
    height: 170px;
    float: right;
    margin-top: 20px;
}

.personal-info{
    padding-left: 10px;
    display: inline-block;
    float: left;
}

.page-header{
    clear: left;
    border-bottom: 1px solid #c1c1c1;
}

#header-separator {
    margin-bottom: 10px;
}

body > div.header > div > strong:nth-child(2) > i{
    font-size: 1em;
}

body > div.header > div > strong:nth-child(12) > i {
    font-size: 1.2em;
}

ul{
    list-style-type: square;
    padding-left: 15px;
}

dd > .col-md-3:nth-child(0){
    padding-left: 0px;
}

.job-title {
    font-size: 1.0em;
}

.desc-padding {
    padding-left: 10px;
}

legend {
    margin-bottom: 5px;
}

body > div.skills > div {
    padding-right: 0;
    padding-left: 0;
}

body > div.skills > div > div:nth-child(1) > div > div:nth-child(1) {
    padding-right: 33%;
}

body > div.skills > div > div:nth-child(1) > div > div:nth-child(2) {
    padding-left: 35%;
}

body > div.skills > div > div:nth-child(2) {
    padding-left: 75px;
    padding-right: 0px;
}

body > div.skills > div > div.col-xs-3 {
    width: 30%;
}

body > div.skills > div > div.col-xs-5 {
    padding-right: 0;
}

dd > div > em{
    text-decoration: underline;
}

legend {
    padding-top: 0.1%;
}

body > div.education > legend{
    padding-top: 0px;
}

body > div.languages > div > dl{
    margin-bottom: 0px;
}

body > div.languages > div > dl > dt {
    width: auto;
}

body > div.languages > div > dl > dd {
    margin-left: 100px;
    padding-bottom: 1%;
}

body > div.header > div > h1 {
    margin-top: 10px;
}

.glyphicon, h1, .fa{
    color: #004b9b;
}

.fa {
    font-size: 1.2em;
}

body > div.education-plus > legend > span.glyphicon.glyphicon-plus {
    font-size: 8px;
}

body > div.education-plus > div {
    padding-bottom: 4px;
}

body > footer > hr {
    margin-bottom: 5px;
    margin-top: 5px;
}

footer {
    vertical-align: bottom;
}

.footer {
    padding-left: 0px;
}

h1 {
    color: #004b9b;
}

/*body > footer > hr {
    margin-top: 15px;
    margin-bottom: 5px;
}*/
