<md-content class="md-padding" lang="en" ng-controller="cvController as ctrl" itemscope itemtype="http://schema.org/Person">
    <section>
        <md-card>
            <md-card-content>
                <img src="./img/image.jpg" style="max-width: 50%" alt="José Vicente Mellado" class="img-thumbnail" itemprop="image">
                <h1>José Vicente Mellado</h1>

                <h4 style="max-width: 70%">
                    <i>
                    As a data scientist I have several years of experience in many aspects of the job, such as performing analysis,
                    data curation, model training, productionizing projects (from notebooks to a maintainable project), 
                    and the assessment of the project performance from a technical point of view 
                    and also from a business perspective.
                    </i>
                </h4>

               <strong><i class="fa fa-github-alt" aria-hidden="true" style="font-size: 1.15em"></i> GitHub: </strong> <a target="_blank" href="https://github.com/jvicentem">https://github.com/jvicentem</a>                

               <br>
                <i class="fa fa-child" style="font-size: 1.4em"></i> Date and place of birth:
                    <span itemprop="birthDate">1993/16/12</span>
                <br>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Address:
                <span itemprop="homeLocation" itemscope itemtype="http://schema.org/Place">
                    <span itemprop="address">Madrid, Spain</span>
                </span>
                <br>
                <strong><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> E-Mail:</strong> <a href="mailto:contact@jvm16.xyz" itemprop="email">contact@jvm16.xyz</a>
                <br>
            </md-card-content>
        </md-card>
    </section>
    <section>
        <md-tabs>
            <md-tab label="Experience">
                <h1 class="md-display-2">
                    <i class="fa fa-history"></i>
                    Experience
                </h1>

                <md-list>
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            <strong><span itemprop="jobTitle">Data Scientist</span> at <a target="_blank" href="https://jobs.zooplus.es/" target="_blank">Zooplus</a>
                                (July 2020 - Present)</strong>
                        </div>
                    </md-list-item>   

                    <md-divider style="padding-top: 10px;"></md-divider>    
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            <strong><span itemprop="jobTitle">Data Scientist</span> at <a target="_blank" href="https://www.etsfactory.com/" target="_blank">Expert Timing Systems</a>
                                (June 2019 - June 2020)</strong>
                        </div>
                    </md-list-item>          
                        
                    <md-divider style="padding-top: 10px;"></md-divider>
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            <strong><span itemprop="jobTitle">Data Scientist</span> at <a target="_blank" href="https://www.lineadirecta.com/" target="_blank">Línea Directa Aseguradora</a>
                                (March 2018 - June 2019)</strong>
                        </div>
                    </md-list-item>          
                    
                    <md-divider style="padding-top: 10px;"></md-divider>
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            <strong><span itemprop="jobTitle">Internship as Data Scientist</span> at <a target="_blank" href="https://www.lineadirecta.com/" target="_blank">Línea Directa Aseguradora</a>
                                (September 2017 - February 2018)</strong>
                        </div>
                    </md-list-item>    

                    <md-divider style="padding-top: 10px;"></md-divider>
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            <strong>Internship at <a target="_blank" href="https://www.transparentcdn.com/en/" target="_blank">Transparent CDN</a>
                                (February 2016 - August 2016)</strong>
                        </div>
                    </md-list-item>
                    
                    <md-divider style="padding-top: 10px;"></md-divider>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text" style="padding-bottom: 0.5% !important;" itemscope itemtype="http://schema.org/CreativeWork">
                            <strong>Creator, designer, developer and manager of</strong>
                            <a target="_blank" href="http://www.tictacbus.com" itemprop="url">www.tictacbus.com</a>:
                            <span itemprop="about"><span itemprop="name">TicTacBus</span> (discontinued) was a personal project where people could check the estimated remaining time for bus, metro,
                            light rail tram and suburban train in the Community of Madrid (Spain).</span> <strong>(February 2014 - February 2024)</strong>
                        </div>
                    </md-list-item>                    
                </md-list>
            </md-tab>
            <md-tab label="Education">
                <h1 class="md-display-2">
                    <span class='glyphicon glyphicon-education' aria-hidden='true'></span> Education
                </h1>

                <md-list>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            University-Specific degree <strong>"Master's degree in Data Science"</strong>
                            at King Juan Carlos University, Madrid.
                            <br> (September 2016 - September 2017)
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <strong>Software Engineering Degree</strong> at <span itemprop="alumniOf" href="http://www.urjc.es">King Juan Carlos University</span>, Madrid.
                            <!-- <md-button class="md-primary md-raised detail-button" ng-click="ctrl.showSoftwareEngineeringDialogEn($event)">
                                Details
                            </md-button> -->
                            <br> (September 2012 - June 2017)
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>                    
                </md-list>
            </md-tab>           
            <md-tab label="Complementary Education">
                <h1 class="md-display-2">
                    <span class='glyphicon glyphicon-education' aria-hidden='true'></span>
                    <span class='glyphicon glyphicon-plus' aria-hidden='true' style='font-size: 0.4em;'></span>
                    Complementary education
                </h1>
                <md-list>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">                            
                            <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/N4Q43CH6LGST">
                                2024 - "Generative AI with Large Language Models"
                            </a>                          
                            <md-divider></md-divider>  
                        </div>
                    </md-list-item>   

                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">                            
                            <a target="_blank" href="https://bcert.me/szhvmzlbs">
                                2023 - "Certified Scrum Product Owner® (SCPO®)"
                            </a>                          
                            <md-divider></md-divider>  
                        </div>
                    </md-list-item>                      
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">                            
                            <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/ES4U42KTGPA2">
                                2023 - "A Crash Course in Causality: Inferring Causal Effects from Observational Data"
                            </a>                          
                            <md-divider></md-divider>  
                        </div>
                    </md-list-item>                      
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">                            
                            <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/MV7J4TEV93Z6">
                                2023 - "Mathematical Biostatistics Boot Camp 1"
                            </a>                          
                            <md-divider></md-divider>  
                        </div>
                    </md-list-item>                    
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">                            
                            <a target="_blank" href="https://www.udemy.com/certificate/UC-67eea26e-4cd3-4c41-9d1c-7f9fd2980b58/">
                                2020 - "Deep Learning: Advanced NLP and RNNs"
                            </a>                          
                            <md-divider></md-divider>  
                        </div>
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            2017 - Coursera's 
                            <a target="_blank" href="https://www.coursera.org/account/accomplishments/specialization/SM4VB3JHDNHS">
                                "Deep Learning 5-course Specialization"
                            </a>
                            <ul style="list-style-type:circle">
                                <li>"Structuring Machine Learning Projects"</li>
                                <li>"Improving Deep Neural Networks: Hyperparameter tuning, Regularization and Optimization"</li>
                                <li>"Neural Networks and Deep Learning"</li>
                                <li>"Convolutional Neural Networks"</li>
                                <li>"Sequence Models"</li>
                            </ul>                            
                            <md-divider></md-divider>
                        </div>                           
                    </md-list-item>  
                    <!-- <div class="md-list-item-text">
                            Coursera's 
                            <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/WC4DBSK2657E">
                                "Sequence Models"
                            </a>
                            <md-divider></md-divider>
                        </div>                        
                        <div class="md-list-item-text">
                            Coursera's 
                            <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/33G27W5M3BJR">
                                "Convolutional Neural Networks"
                            </a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>                        
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            Coursera's                             
                            <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/M4ZLTET3JHFT">
                                "Structuring Machine Learning Projects"
                            </a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>   
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            Coursera's 
                            <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/T4PZQUFJLCRM">
                                "Improving Deep Neural Networks: Hyperparameter tuning, Regularization and Optimization"
                            </a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>         
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            Coursera's 
                            <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/PZCY5UBNLWY8">
                                "Neural Networks and Deep Learning"
                            </a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>                                                                               -->
                    <!-- <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            Udemy's 
                            <a target="_blank" href="https://www.udemy.com/nexus-scrum-advanced">
                                "Scrum Advanced: Software Development & Program Management"
                            </a>
                        </div>
                    </md-list-item>                   -->
                </md-list>
            </md-tab>             
            <md-tab label="Skills">
                <h1 class="md-display-2">
                    <i class="fa fa-terminal"></i>
                    Skills
                </h1>
                <div class="skills" layout="row" layout-xs="column">
                    <div flex-gt-xs="20" flex-xs="25">
                        <b>Programming languages</b>
                        <ul>
                            <li> <span>Python</span> </li>
                            <!-- <li> <span>R</span> </li> -->
                            <!-- <li> <span>Java</span></li> -->
                            <!--<li> <span>Ruby</span> </li>
                            <li> <span>C</span> </li>
                            <li> <span>C++</span> </li>
                            <li> <span>Haskell</span> </li> -->
                        </ul>
                    </div>
                    <md-divider class="skills-column-item-divider" hide-gt-xs show-xs></md-divider>
                    <div flex-gt-xs="20" flex-xs="25">
                        <b>Data Science libraries</b>
                        <br>
                        <u>Python</u>
                        <ul>
                            <li> <span>Pandas</span> </li>                            
                            <li> <span>ScikitLearn</span> </li>
                            <li> <span>Numpy</span> </li>
                            <li> <span>Seaborn/Matplotlib</span> </li>
                            <!-- <li> <span>TensorFlow</span> </li> -->
                            <li> <span>Pytorch</span> </li>
                            <li> <span>Keras</span> </li>
                            <!-- <li> <span>Scrapy</span> </li> -->
                            <li> <span>Numba</span> </li>
                        </ul>                        
                        <br>
                        <!-- <u>R</u>
                        <ul>
                            <li> <span>tidyverse</span>  </li>
                            <li> <span>mlr</span> </li>
                            <li> <span>data.table</span> </li>
                        </ul> -->
                    </div>

                    <md-divider class="skills-column-item-divider" hide-gt-xs show-xs></md-divider>
                    <div flex-gt-xs="20" flex-xs="20">
                        <b>Data Analysis - Machine Learning</b>
                        <br>
                        Dataset creation, preparation, validation and exploration, feature ingeneering, model assumptions checking, 
                        linear and logistic regression, decision trees, clustering,
                        <br>
                        random forest, neural networks, gradient boosting, among others. 
                    </div>

                    <md-divider class="skills-column-item-divider" hide-gt-xs show-xs></md-divider>
                    <div flex-gt-xs="20" flex-xs="16.7">
                        <b>Databases</b>
                        <ul>
                            <li> <span>SQL-like databases (AWS Athena, Oracle, MySQL...)</span> </li>
                            <li> <span>MongoDB</span> </li>
                        </ul>
                    </div>
                    <md-divider class="skills-column-item-divider" hide-gt-xs show-xs></md-divider>
                    <div flex-gt-xs="20" flex-xs="16.7">
                        <b>Big Data, Cloud & others</b>
                        <ul>
                            <li> Apache Spark </li>
                            <!-- <li> Apache Hive </li> -->                         
                            <li> H2O </li>
                            <!-- <li> Apache Spark Streaming </li> -->
                            <!-- <li> <span> Docker and Docker Compose</span> </li> -->
                            <!-- <li> <span>SCRUM framework</span> </li>                             -->
                            <li> <span>Amazon Web Services (EC2, EMR, S3)</span> </li>
                            <li> Docker </li>
                            <!-- <li> <span>Sonar</span> </li> -->
                            <!-- <li> <span>Python's Selenium API</span> </li> -->
                            <!--<li> <span>Test-driven development (T.D.D.)</span> </li>
                            <li> <span>Behaviour-driven development (B.D.D.)</span> </li> -->
                            <!-- <li> <span>Mejora y aprendizaje continuo &#128513;</span></li> -->
                        </ul>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Languages">
                <h1 class="md-display-2">
                    <i class="fa fa-language"></i> Languages
                </h1>
                <dl class="dl-horizontal">
                    <dt>Spanish</dt>
                    <dd>Native</dd>
                    <dt>English</dt>
                    <dd>
                        <p>
                            I currently work in an English spoken environment, where I am able to participate in meetings, do presentations, write emails...
                        </p>
                    </dd>
                </dl>
            </md-tab>

            <md-tab label="Achievements">
                <h1 class="md-display-2">
                    <i class="fa fa-rocket" aria-hidden="true"></i> Achievements
                </h1>

                <md-list>
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Top 1% (8th out of 2426) in Microsoft Malware Prediction challenge. <i>#no-overfitting #lgbm</i>
                            <a target="_blank" href="https://www.kaggle.com/c/microsoft-malware-prediction/">https://www.kaggle.com/c/microsoft-malware-prediction/</a>
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider> 

                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            1st place at Breast Cancer detection challenge at #AIForGood event organized by IBM and Intelygenz. <i>#cnn #vgg16</i>               
                        </div>
                    </md-list-item>                                       
                    
                </md-list>
            </md-tab>            


            <md-tab label="Personal projects">
                <h1 class="md-display-2">
                    <i class="fa fa-line-chart" aria-hidden="true"></i> Personal projects
                </h1>

                <md-list>
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            TicTacBus (discontinued)                   
                            <a target="_blank" href="http://www.tictacbus.com">www.tictacbus.com</a>
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider> 

                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            GroupieTheGame (discontinued): online game in which you can be the fan of music artists if you have enough points.
                            Artists points are based on their Spotify statistics and their demand in the game. Currently offline.
                            <br>                   
                            <a target="_blank" href="http://www.groupiethegame.tk">www.groupiethegame.tk</a>
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>                        

                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Predicting if a cat is entering or leaving home from images using a Convolutional Neural Network
                            <a target="_blank" href="https://github.com/jvicentem/pepito-the-cat-in-or-out">
                                https://github.com/jvicentem/pepito-the-cat-in-or-out
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>      
                    
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                            <div class="md-list-item-text">
                                Descriptive analysis of streaming data using SparkSQL and SparkStreaming 
                                <a target="_blank" href="https://github.com/jvicentem/sparksql-sparkstreaming-kafka">
                                    https://github.com/jvicentem/sparksql-sparkstreaming-kafka
                                </a>                            
                            </div>
                        </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>                          

                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Exploratory analysis of my personal music in Spotify 
                            <a target="_blank" href="https://jvicentem.github.io/playing-around-with-spotify-api/playing-around-with-spotipy.html">
                                https://jvicentem.github.io/playing-around-with-spotify-api/playing-around-with-spotipy.html
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>      
                    
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            BigMRMR: Feature selection using MRMR for big datasets  (Spark & Cython)
                            <a target="_blank" href="https://github.com/jvicentem/big_mrmr">
                                https://github.com/jvicentem/big_mrmr
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>                       
                    
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Social Network Analysis of the Real Madrid - Barcelona match played on 23rd April, 2017 
                            <a target="_blank" href="https://jvicentem.github.io/sna-twitter/index.html">
                                https://jvicentem.github.io/sna-twitter/index.html
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>            

                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Tweets sentiment analysis in United States on <i>Black Friday</i> 2016 
                            <a target="_blank" href="https://github.com/jvicentem/tweets-sentiment-analysis">
                                https://github.com/jvicentem/tweets-sentiment-analysis
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>                
                    
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Phishing prediction using class balancing techniques
                            <a target="_blank" href="https://github.com/jvicentem/phishing-website-detection">
                                https://github.com/jvicentem/phishing-website-detection
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>                     

                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Applying filters to images using parallel computing
                            <a target="_blank" href="https://github.com/jvicentem/practica3ProgramacionConcurrente">
                                https://github.com/jvicentem/practica3ProgramacionConcurrente
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>                 
                    
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            "Regional Consortium of Transportation for Madrid" Python API wrapper
                            <a target="_blank" href="https://github.com/jvicentem/citram-python-api">
                                https://github.com/jvicentem/citram-python-api
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>                     
                    
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Places 
                            <a target="_blank" href="https://github.com/jvicentem/places-frontend">
                                https://github.com/jvicentem/places-frontend
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>                                         
                    
                </md-list>
            </md-tab>            
            <md-tab label="About me">
                <h1 class="md-display-2">
                    <span class='glyphicon glyphicon-user' aria-hidden='true'></span> About me
                </h1>

                I always like to learn, to be a better person and to listen to other people's opinion.
                <br>
                On my spare time I watch TV shows, compose and record songs, go to concerts and to spend time with family & friends. 
                <br>

                <md-list>
                    <md-list-item>
                        <div class="md-list-item-text">
                            GitHub
                            <a target="_blank" href="https://github.com/jvicentem/">https://github.com/jvicentem/</a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <div class="md-list-item-text">
                            LinkedIn <a target="_blank" href="https://es.linkedin.com/in/josevicentemellado/en/">https://es.linkedin.com/in/josevicentemellado/en/</a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <div class="md-list-item-text">
                            MeetUp <a target="_blank" href="https://www.meetup.com/members/202307075/">https://www.meetup.com/members/202307075/</a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <div class="md-list-item-text">
                            Twitter <a target="_blank" href="https://twitter.com/jvicentem93/">https://twitter.com/jvicentem93/</a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <div class="md-list-item-text">
                            BitBucket <a target="_blank" href="https://bitbucket.org/josevicente93/">https://bitbucket.org/josevicente93/</a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>
                </md-list>
            </md-tab>
        </md-tabs>
    </section>
    </md-content>
    