<md-content class="md-padding" lang="es" ng-controller="cvController as ctrl">
    <section>
        <md-card>
            <md-card-content>
                <img src="./img/image.jpg" style="max-width: 50%" alt="José Vicente Mellado" class="img-thumbnail">
                <h1>José Vicente Mellado</h1>

                <h4 style="max-width: 70%">
                    <i>
                    Como data scientist tengo varios años de experiencia en diversos aspectos del puesto, como la realización de análisis,
                    preparación de datos, entrenamiento de modelos, puesta en producción de proyectos (proyectos mantenibles, no notebooks),
                    y la evaluación del rendimiento del proyecto tanto desde un punto de vista técnico como desde un punto de vista de negocio.
                    </i>
                </h4>

                <strong><i class="fa fa-github-alt" aria-hidden="true" style="font-size: 1.15em"></i> GitHub: </strong> <a target="_blank" href="https://github.com/jvicentem">https://github.com/jvicentem</a>
                <br>
                <strong><i class="fa fa-child" style="font-size: 1.4em"></i> Fecha de nacimiento:</strong> 16/12/1993
                <br>
                <strong><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Domicilio:</strong> Madrid
                <br>
                <strong><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> E-Mail:</strong> <a href="mailto:contact@jvm16.xyz">contact@jvm16.xyz</a>
                <br>
            </md-card-content>
        </md-card>
    </section>
    <section>
        <md-tabs>
            <md-tab label="Experiencia">
                <h1 class="md-display-2">
                    <i class="fa fa-history"></i>
                    Experiencia
                </h1>

                <md-list>
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            <strong><span itemprop="jobTitle">Data Scientist</span> en <a target="_blank" href="https://jobs.zooplus.es/" target="_blank">Zooplus</a>
                                (julio 2020 - actualmente)</strong>
                        </div>
                    </md-list-item>   
                    
                    <md-divider style="padding-top: 10px;"></md-divider>    
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                            <div class="md-list-item-text">
                                <strong><span itemprop="jobTitle">Data Scientist</span> en <a target="_blank" href="https://www.etsfactory.com/" target="_blank">Expert Timing Systems</a>
                                    (junio 2019 - junio 2020)</strong>
                            </div>
                    </md-list-item>          
                                
                    <md-divider style="padding-top: 10px;"></md-divider>                                                
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                            <div class="md-list-item-text">
                                <strong>Data Scientist en 
                                    <a target="_blank" href="https://www.lineadirecta.com/" target="_blank"> Línea Directa Aseguradora</a>
                                    (marzo 2018 - junio 2019)</strong>
                            </div>
                    </md-list-item>

                    <md-divider style="padding-top: 10px;"></md-divider>                          
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            <strong>Data Scientist contratado en prácticas en 
                                <a target="_blank" href="https://www.lineadirecta.com/" target="_blank"> Línea Directa Aseguradora</a>
                                (septiembre 2017 - febrero 2018)</strong>
                        </div>
                    </md-list-item>        

                    <md-divider style="padding-top: 10px;"></md-divider>
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            <strong>Prácticas externas en
                                <a target="_blank" href="https://www.transparentcdn.com/" target="_blank"> Transparent CDN</a>
                                (febrero 2016 - agosto 2016)</strong>
                        </div>
                    </md-list-item>     
                    <md-divider style="padding-top: 10px;"></md-divider>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text" style="padding-bottom: 0.5% !important;">
                            <strong>Creación, administración y gestión de </strong>
                            <a target="_blank" href="http://www.tictacbus.com">www.tictacbus.com</a>:
                            (descontinuado) Proyecto personal para consultar el tiempo restante de diversos medios de transporte de la
                            Comunidad de Madrid mediante sitio Web o app para Android. <strong>(febrero 2014 - febrero 2024)</strong>
                        </div>
                    </md-list-item>          
                </md-list>
            </md-tab>
            <md-tab label="Formación académica">
                <h1 class="md-display-2">
                    <span class='glyphicon glyphicon-education' aria-hidden='true'></span> Formación académica
                </h1>
                <md-list>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            Título propio <strong>"Máster en Data Science"</strong> en la Universidad Rey Juan Carlos, Campus de Móstoles, Madrid.
                            <br> (septiembre 2016 - septiembre 2017)
                            <ul style="list-style-type:circle">
                                <!-- <li>Nota media: 8.9</li> -->
                                <li>Trabajo Fin de Máster: Detección de sitios Web <i>phishing</i> mediante <i>machine learning</i>.
                                    <a target="_blank" href="https://github.com/jvicentem/phishing-website-detection">https://github.com/jvicentem/phishing-website-detection</a>
                                    <!-- Nota: 10 -->
                                </li>
                            </ul> 
                            <md-divider></md-divider>                                          
                        </div>                        
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <strong>Grado en Ingeniería del Software</strong> en la Universidad Rey Juan Carlos, Campus de Móstoles, Madrid.
                            <!-- <md-button class="md-primary md-raised detail-button" ng-click="ctrl.showSoftwareEngineeringDialogEs($event)">
                                Detalles
                            </md-button> -->
                            <br> (septiembre del 2012 - junio del 2017)
                            <ul style="list-style-type:circle">
                                <!-- <li>Nota media: 8.18</li> -->
                                <li>Trabajo Fin de Grado: Recopilación y gestión de datos de <i>eCommerce</i> en entornos <i>cloud</i>. <!-- Nota: 10 --></li>
                            </ul>  
                            <md-divider></md-divider>                             
                        </div>                        
                    </md-list-item>                    
                </md-list>
            </md-tab>       
            <md-tab label="Formación complementaria">
                <h1 class="md-display-2">
                    <span class='glyphicon glyphicon-education' aria-hidden='true'></span>
                    <span class='glyphicon glyphicon-plus' aria-hidden='true' style='font-size: 0.4em;'></span>
                    Formación complementaria
                </h1>
                <md-list>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">                            
                            <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/N4Q43CH6LGST">
                                2024 - "Generative AI with Large Language Models"
                            </a>                          
                            <md-divider></md-divider>  
                        </div>
                    </md-list-item>   

                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">                            
                            <a target="_blank" href="https://bcert.me/szhvmzlbs">
                                2023 - "Certified Scrum Product Owner® (SCPO®)"
                            </a>                          
                            <md-divider></md-divider>  
                        </div>
                    </md-list-item>                      
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">                            
                            <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/ES4U42KTGPA2">
                                2023 - "A Crash Course in Causality: Inferring Causal Effects from Observational Data"
                            </a>                          
                            <md-divider></md-divider>  
                        </div>
                    </md-list-item>                      
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">                            
                            <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/MV7J4TEV93Z6">
                                2023 - "Mathematical Biostatistics Boot Camp 1"
                            </a>                          
                            <md-divider></md-divider>  
                        </div>
                    </md-list-item>   
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">                            
                            <a target="_blank" href="https://www.udemy.com/certificate/UC-67eea26e-4cd3-4c41-9d1c-7f9fd2980b58/">
                                2020 - "Deep Learning: Advanced NLP and RNNs"
                            </a>          
                            <md-divider></md-divider>                  
                        </div>
                    </md-list-item>                    
                    <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                2017 - Coursera's 
                                <a target="_blank" href="https://www.coursera.org/account/accomplishments/specialization/SM4VB3JHDNHS">
                                    "Deep Learning 5-course Specialization"
                                </a>
                                <ul style="list-style-type:circle">
                                    <li>"Structuring Machine Learning Projects"</li>
                                    <li>"Improving Deep Neural Networks: Hyperparameter tuning, Regularization and Optimization"</li>
                                    <li>"Neural Networks and Deep Learning"</li>
                                    <li>"Convolutional Neural Networks"</li>
                                    <li>"Sequence Models"</li>
                                </ul>                            
                                <md-divider></md-divider>
                            </div>        
                    </md-list-item>                     
                            <!-- <div class="md-list-item-text">
                                Coursera's 
                                <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/WC4DBSK2657E">
                                    "Sequence Models"
                                </a>
                                <md-divider></md-divider>
                            </div>                        
                            <div class="md-list-item-text">
                                Coursera's 
                                <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/33G27W5M3BJR">
                                    "Convolutional Neural Networks"
                                </a>
                                <md-divider></md-divider>
                            </div>
                        </md-list-item>                        
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                Coursera's                             
                                <a target="_blank" href="https://www.coursera.org/account/accomplishments/certificate/M4ZLTET3JHFT">
                                    "Structuring Machine Learning Projects"
                                </a>
                                <md-divider></md-divider>
                            </div>
                        </md-list-item>   
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                Coursera's 
                                <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/T4PZQUFJLCRM">
                                    "Improving Deep Neural Networks: Hyperparameter tuning, Regularization and Optimization"
                                </a>
                                <md-divider></md-divider>
                            </div>
                        </md-list-item>         
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">
                                Coursera's 
                                <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/PZCY5UBNLWY8">
                                    "Neural Networks and Deep Learning"
                                </a>
                                <md-divider></md-divider>
                            </div>
                        </md-list-item>                                                                               -->     
                                                                                 
                    <!-- <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            Udemy's 
                            <a target="_blank" href="https://www.udemy.com/nexus-scrum-advanced">
                                "Scrum Advanced: Software Development & Program Management"
                            </a>
                        </div>
                    </md-list-item>                        -->
                </md-list>
            </md-tab>                 
            <md-tab label="Habilidades">
                <h1 class="md-display-2">
                    <i class="fa fa-terminal"></i>
                    Habilidades
                </h1>
                <div class="skills" layout="row" layout-xs="column">
                    <div flex-gt-xs="15" flex-xs="20">
                        <b>Lenguajes de programación</b>
                        <ul>
                            <li> <span>Python</span> </li>
                            <!-- <li> <span>R</span> </li> -->
                            <!-- <li> <span>Java</span></li> -->
                            <!--<li> <span>Ruby</span> </li>
                            <li> <span>C</span> </li>
                            <li> <span>C++</span> </li>
                            <li> <span>Haskell</span> </li> -->
                        </ul>
                    </div>

                    <md-divider class="skills-column-item-divider" hide-gt-xs show-xs></md-divider>
                    <div flex-gt-xs="15" flex-xs="20">
                        <b>Librerías de programación científica</b>
                        <br>
                        <u>Python</u>
                        <ul>
                            <li> <span>Pandas</span> </li>                            
                            <li> <span>ScikitLearn</span> </li>
                            <li> <span>Numpy</span> </li>
                            <li> <span>Seaborn/Matplotlib</span> </li>
                            <!-- <li> <span>TensorFlow</span> </li> -->
                            <li> <span>Pytorch</span> </li>
                            <li> <span>Keras</span> </li>
                            <!-- <li> <span>Scrapy</span> </li> -->
                            <li> <span>Numba</span> </li>
                        </ul>                        
                        <br>
                        <!-- <u>R</u>
                        <ul>
                            <li> <span>tidyverse</span>  </li>
                            <li> <span>mlr</span> </li>
                            <li> <span>data.table</span> </li>
                        </ul> -->
                    </div>

                    <md-divider class="skills-column-item-divider" hide-gt-xs show-xs></md-divider>
                    <div flex-gt-xs="20" flex-xs="20">
                        <b>Análisis de datos - Machine Learning</b>
                        <br>
                        Creación, limpieza, validación y exploración de conjuntos de datos, 
                        comprobación de supuestos de los modelos, regresión lineal y logística, árboles de decisión, 
                        <br>
                        <i>clustering</i>, <i>random forest</i>, redes neuronales,
                        <br>
                        <i>gradient boosting</i>, entre otros.
                    </div>

                    <md-divider class="skills-column-item-divider" hide-gt-xs show-xs></md-divider>
                        <md-divider class="skills-column-item-divider" hide-gt-xs show-xs></md-divider>
                        <div flex-gt-xs="20" flex-xs="16.7">
                            <b>Bases de datos</b>
                            <ul>
                                <li> <span>SQL-like databases (AWS Athena, Oracle, MySQL...)</span> </li>
                                <li> <span>MongoDB</span> </li>
                            </ul>
                        </div>
                        <md-divider class="skills-column-item-divider" hide-gt-xs show-xs></md-divider>
                        <div flex-gt-xs="20" flex-xs="16.7">
                            <b>Big Data y Cloud</b>
                            <ul>
                                <li> Apache Spark </li>
                                <!-- <li> Apache Hive </li> -->
                                <li> H2O </li>
                                <!-- <li> Apache Spark Streaming </li> -->
                                <!-- <li> <span> Docker and Docker Compose</span> </li> -->
                                <!-- <li> <span>SCRUM framework</span> </li>                             -->
                                <li> <span>Amazon Web Services (EC2, EMR, S3)</span> </li>
                                <li> Docker </li>
                                <!-- <li> <span>Sonar</span> </li> -->
                                <!-- <li> <span>Python's Selenium API</span> </li> -->
                                <!--<li> <span>Test-driven development (T.D.D.)</span> </li>
                                <li> <span>Behaviour-driven development (B.D.D.)</span> </li> -->
                                <!-- <li> <span>Mejora y aprendizaje continuo &#128513;</span></li> -->
                            </ul>
                        </div>
                </div>
            </md-tab>
            <md-tab label="Idiomas">
                <h1 class="md-display-2">
                    <i class="fa fa-language"></i> Idiomas
                </h1>
                <dl class="dl-horizontal">
                    <dt>Español</dt>
                    <dd>Lengua materna</dd>
                    <dt>Inglés</dt>
                    <dd>
                        <p>
                            I currently work in an English spoken environment, where I am able to participate in meetings, do presentations, write emails...
                        </p>
                    </dd>
                </dl>
            </md-tab>

            <md-tab label="Logros">
                <h1 class="md-display-2">
                    <i class="fa fa-rocket" aria-hidden="true"></i> Logros
                </h1>

                <md-list>
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Top 1% (8º de 2426) en Microsoft Malware Prediction challenge. <i>#no-overfitting #lgbm</i>         
                            <a target="_blank" href="https://www.kaggle.com/c/microsoft-malware-prediction/">https://www.kaggle.com/c/microsoft-malware-prediction/</a>
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider> 

                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            1er lugar en el reto de detección de cáncer de mama en el evento #AIForGood organizado por IBM e Intelygenz. <i>#cnn #vgg16</i>                               
                            <a target="_blank" href="https://the-aishow.com/news/terminus7-organiza-un-hackathon-de-inteligencia-artificial-en-prevencion-del-cancer-de-mama-y-diabetes/">https://the-aishow.com/news/terminus7-organiza-un-hackathon-de-inteligencia-artificial-en-prevencion-del-cancer-de-mama-y-diabetes/</a>                            
                        </div>
                    </md-list-item>                                       
                    
                </md-list>
            </md-tab>      

            <md-tab label="Proyectos personales">
                <h1 class="md-display-2">
                    <i class="fa fa-line-chart" aria-hidden="true"></i> Proyectos personales
                </h1>

                <md-list>
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            TicTacBus (descontinuado)                  
                            <a target="_blank" href="http://www.tictacbus.com">www.tictacbus.com</a>
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider> 

                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            GroupieTheGame (descontinuado): juego cuyo objetivo era ser fan de artistas a cambio de puntos. 
                            Puntos basados en estadísticas del artista en Spotify y su demanda en el juego.  
                            Actualmente offline. 
                            <br>                
                            <a target="_blank" href="http://www.groupiethegame.tk">www.groupiethegame.tk</a>
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>                     

                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Red Neuronal Convolucional para predecir a partir de imágenes si un gato entra o sale de casa
                            <a target="_blank" href="https://github.com/jvicentem/pepito-the-cat-in-or-out">
                                https://github.com/jvicentem/pepito-the-cat-in-or-out
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>      
                    
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                            <div class="md-list-item-text">
                                Breve análisis descriptivo de datos en Streaming utilizando SparkSQL y SparkStreaming 
                                <a target="_blank" href="https://github.com/jvicentem/sparksql-sparkstreaming-kafka">
                                    https://github.com/jvicentem/sparksql-sparkstreaming-kafka
                                </a>                            
                            </div>
                        </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>                          

                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Análisis exploratorio de mi música en Spotify 
                            <a target="_blank" href="https://jvicentem.github.io/playing-around-with-spotify-api/playing-around-with-spotipy.html">
                                https://jvicentem.github.io/playing-around-with-spotify-api/playing-around-with-spotipy.html
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>         
                    
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            BigMRMR: Feature selection utilizando MRMR para datasets grandes (Spark y Cython)
                            <a target="_blank" href="https://github.com/jvicentem/big_mrmr">
                                https://github.com/jvicentem/big_mrmr
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>                        
                    
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Análisis de red social (Twitter) del Real Madrid - Barcelona disputado el 23 de abril de 2017 
                            <a target="_blank" href="https://jvicentem.github.io/sna-twitter/index.html">
                                https://jvicentem.github.io/sna-twitter/index.html
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>            

                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Análisis de sentimiento de Twitter en Estados Unidos durante la jornada de <i>Black Friday</i> de 2016 
                            <a target="_blank" href="https://github.com/jvicentem/tweets-sentiment-analysis">
                                https://github.com/jvicentem/tweets-sentiment-analysis
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>                       

                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Predicción de <i>phishing</i> y estudio de técnicas de desbalanceo de clases
                            <a target="_blank" href="https://github.com/jvicentem/phishing-website-detection">
                                https://github.com/jvicentem/phishing-website-detection
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>  

                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Aplicación de filtros en imágenes usando programación concurrente 
                            <a target="_blank" href="https://github.com/jvicentem/practica3ProgramacionConcurrente">
                                https://github.com/jvicentem/practica3ProgramacionConcurrente
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>       

                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Wrapper para Python de la API del Consorcio Regional de Transportes de Madrid
                            <a target="_blank" href="https://github.com/jvicentem/citram-python-api">
                                https://github.com/jvicentem/citram-python-api
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>                         
                    
                    <md-list-item class="md-3-line" style="padding-bottom: 3px;">
                        <div class="md-list-item-text">
                            Places 
                            <a target="_blank" href="https://github.com/jvicentem/places-frontend">
                                https://github.com/jvicentem/places-frontend
                            </a>                            
                        </div>
                    </md-list-item>
                    <md-divider style="padding-top: 10px;"></md-divider>                                         
                    
                </md-list>
            </md-tab>
            <md-tab label="Sobre mí">
                <h1 class="md-display-2">
                    <span class='glyphicon glyphicon-user' aria-hidden='true'></span> Sobre mí
                </h1>
                
                <br>
                <br>
                Lo que más me gusta es componer y grabar canciones, ir a conciertos y pasar tiempo con mi familia y mis amigos.
                <br>
                También tengo interes por aprender cosas nuevas que resultan útiles para mi vida en general.                
                <br>

                <md-list>
                    <md-list-item>
                        <div class="md-list-item-text">
                            GitHub
                            <a target="_blank" href="https://github.com/jvicentem/">https://github.com/jvicentem/</a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <div class="md-list-item-text">
                            LinkedIn
                            <a target="_blank" href="https://es.linkedin.com/in/josevicentemellado/">
                                https://es.linkedin.com/in/josevicentemellado/
                            </a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <div class="md-list-item-text">
                            MeetUp <a target="_blank" href="https://www.meetup.com/members/202307075/">https://www.meetup.com/members/202307075/</a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <div class="md-list-item-text">
                            Twitter <a target="_blank" href="https://twitter.com/jvicentem93/">https://twitter.com/jvicentem93/</a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>
                    <md-list-item>
                        <div class="md-list-item-text">
                            BitBucket <a target="_blank" href="https://bitbucket.org/josevicente93/">https://bitbucket.org/josevicente93/</a>
                            <md-divider></md-divider>
                        </div>
                    </md-list-item>
                </md-list>
            </md-tab>
        </md-tabs>
    </section>
</md-content>
