<div role="dialog" layout="column" style="max-height: 550px !important; min-width: 250px !important;" layout-align="center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Software Engineering</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Average score: <strong>8.06</strong></span>
        </div>
    </md-toolbar>
    <md-content flex>
        <section>
            <md-subheader class="md-primary" flex>Highlights</md-subheader>
            <md-list layout-padding>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Concurrent Programming: <strong>10, with special distinction</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Information Systems Engineering: <strong>10, with special distinction</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Computer Architecture & Engineering: <strong>9.5, with special distinction</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Internship program: <strong>10</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Computer Security: <strong>9.0</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Databases: <strong>8.75</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Object-oriented Programming: <strong>8.7</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Computer Networks: <strong>8.5</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Calculus: <strong>9.5, with special distinction</strong>
                    </div>
                </md-list-item>
            </md-list>
        </section>
    </md-content>
    <div class="panel-close-container">
        <md-button flex class="close-panel-button" ng-click="ctrl.closeDialog($event)">
            Close
        </md-button>
    </div>
</div>