<div role="dialog" layout="column" style="max-height: 550px !important; min-width: 250px !important;" layout-align="center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Ingenieria del Software</h2>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Nota media: <strong>8.06</strong></span>
        </div>
    </md-toolbar>
    <md-content flex>
        <section>
            <md-subheader class="md-primary" flex>Asignaturas destacadas</md-subheader>
            <md-list layout-padding>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Programacion Concurrente: <strong>10, Matrícula de honor</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Ingeniería de Sistemas de Información: <strong>10, Matrícula de honor</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Arquitectura e Ingeniería de Computadores: <strong>9.5, Matrícula de honor</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Prácticas Externas: <strong>10</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Seguridad Informática: <strong>9.0</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Bases de datos: <strong>8.75</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Programación Orientada a Objetos: <strong>8.7</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Redes de Computadores: <strong>8.5</strong>
                        <md-divider></md-divider>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line">
                    <div class="md-list-item-text">
                        Cálculo: <strong>9.5, Matrícula de honor</strong>
                    </div>
                </md-list-item>
            </md-list>
        </section>
    </md-content>
    <div class="panel-close-container">
        <md-button flex class="close-panel-button" ng-click="ctrl.closeDialog($event)">
            Cerrar
        </md-button>
    </div>
</div>